.court {
  background-color: rgb(70,103,61);
  display: flex;
  width: 80vw;
  height: calc(80vw * 315 / 680);
}

.left_side {
  background-image: url('images/sub-court.svg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.right_side {
  background-image: url('images/sub-court.svg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleY(-1);
}

.left_half {
  transform: scaleX(-1);
}
