.court {
  display: flex;
  width: var(--court_width);
  height: var(--court_height);
}

.left_side {
  background-image: url('images/sub-court.svg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.right_side {
  background-image: url('images/sub-court.svg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleY(-1);
}

.left_half {
  transform: scaleX(-1);
}
